@import url('https://fonts.googleapis.com/css?family=Exo+2|Josefin+Sans'); /* Google font */ 

#homeArea_div {
    padding-top: 300px;
}

#homeArea_h1 {
    color: #00D0FF;
    padding-left: 220px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

#homeArea_h4 {
    color: #FF00D0;
    padding-left: 220px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

#aboutArea_div {
    padding-left: 220px;
    text-align: center;
}

#cipherArea_div {
    padding-left: 220px;
    padding-top: 100px;
    /* text-align: center; */
}

.quickHelp_div {
    color: rgb(129, 129, 129);
    padding-left: 300px;
    padding-right: 300px;
    /* text-align: center; */
}
.quickHelp_div h1{
    text-align: center;
    color: rgb(207, 207, 207);
}
.quickHelp_div p{
    padding-left: 40px;
}


/* .inputOutput_textArea {

} */