
@import url('https://fonts.googleapis.com/css?family=Exo+2|Josefin+Sans'); /* Google font */ 


#sideMenu_div {
  background-color: #282828;
  font-family: 'Exo 2', sans-serif;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 220px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  float: left;
  /* display: block; */
  /* padding-top: 20px */
}

#sideMenu_div h1 {
  color: #FF00D0;
  font-size: 20px;
  text-align: center;
  padding: 10px 0px 25px 0px;
  border-bottom: 2px solid #585858;
  
}

/* The navigation menu links */
#sideMenu_div h3 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Exo 2', sans-serif;
  color: white;
  display: block;
  /* border-style: solid; */
  border-bottom: 2px solid #383838;
  width: 220px;
  background: none;
	border: none;
	cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
#sideMenu_div h3:hover {
  color: #00D0FF;
  /* border-left: 2px solid #00D0FF; */
  background-color: #383838;
  
}

#topMenu_div {
  padding-left: 220px;
  background-color: #00D0FF;
  top: 0; 
  height: 50px;
}

#topMenu_div h3 {
  padding-left: 50px;
  font-size: 15px;
  color: #363636;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Exo 2', sans-serif;

  /* Remove all default button properties */
	cursor: pointer;
  
}