#railFence_div{
  /* float: left; */
  text-align: center;
  /* border: 1px solid black;  */ /* For debugging*/ 
  /* padding: 20px, 300px, 0px, 0px;  */
  padding-left: 300px;
  /* padding-right: 300px; */
  padding-top: 50px;
  
} 

#input_textArea_div {
  float: left;
  text-align: center;
}

#output_textArea_div {
  float: left;
  text-align: center;
}

table {
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid #c6c7cc;
    padding: 10px 15px;
  }
  th {
    font-weight: bold;
  }