#railFence_div{
  /* float: left; */
  text-align: center;
  padding: 50px 0px 100px 300px;
  
} 

.specific_cipher_class h1{
  color: #FF00D0;
}

.inputOutput_textArea {
  background-color: #282828;
  border: 1px solid #20a0e5;
  color: wheat;
}
.specific_cipher_class button{
  color: #20a0e5;
  background-color: black;
  border: 1px solid #20a0e5;
} 

.textBox_form {
  color: white;
}

.input_textBox {
  /* padding-left: 20px; */
  /* color: #FF00D0; */
  background-color: #282828;
  color: white;
  border: 1px solid #20a0e5;
}

.actions_div {
  padding: 20px 0px 20px 0px;
}

#input_textArea_div {
  text-align: center;
}

#output_textArea_div {
  text-align: center;
  padding-left:60px;
}



table {
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid #c6c7cc;
    padding: 10px 15px;
  }
  th {
    font-weight: bold;
  }